.wrapper
  .Main-Contents
    .Contents-box
      .Contents-header
        .EventInfo
          新着イベント
        .EventInfo__date
          7月7日
      .Eventlists
        - @events.each do |event|
          .Eventlist
            .Eventlist__left
              .datetime
                = event.datetime.strftime("%Y年%m月%d日%H:%M")
            .Eventlist__right
              .event-owner
                .event-owner__name
                  = "#{"主催者：" + event.name}"
                .event-owner__created-date
                  = "#{"公開日:" + event.created_at.strftime("%m月%d日")}"
              .event-content
                .event-content__image
                  - if event.image?
                    = image_tag event.image.url
                .event-content__title
                  = event.content
              .event-member
                参加者：BEN
