.wrapper
  .Eventbox
    .Eventbox__Info
      = form_with model: @event, locale: true do |f|
        .form-group
          = f.label :title
          = f.text_field :title, class: 'form-control'
        .form-group.col-md-6
          = f.label :article
          = f.text_area :article, class: 'form-control'
          = f.submit '新規登録', class: 'btn btn-primary'