.Event-Box
  .Event-Info
    .Event-Info__header
      .imagebox
        -if @event.image?
          = image_tag @event.image.url, :size =>'500x250'
      .Eventjoin-box
        .Eventjoin-box__date
          = @event.datetime.strftime("%Y年%m月%d日")
        .Eventjoin-box__form
          = link_to "勉強会を申し込む", new_event_ticket_path(current_user)
        - if user_signed_in? && current_user.id == @event.user_id
          .Event-edit
            = link_to "編集", edit_event_path(@event.id), method: :get
          .Event-destroy
            = link_to "削除", event_path(@event.id),method: :delete
    .Event-Info__titlebox
      .title-info
        タイトル：
      .title
        = @event.title
    .Event-Info__contentbox
      .content-Info
        勉強会内容：
      .content
        = @event.content
    .Event-Info__memberlist
      .title
        参加者：
      .member
        - @event.users.each do |event|
          = event.name