!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Terakoya
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .Header
      .Header__title
        = link_to "Terakoya", root_path, class: "header-logo"
        .searchform
          - if user_signed_in?
            = form_with(url: search_events_path, local: true, method: :get) do |f|
              = f.text_field :keyword, placeholder: "勉強会を検索する", class: "search-input"
              = f.submit "検索", class: "search-btn"
      - if user_signed_in? && current_user.email != "guest@example.com"
        .Header__nav
          .nav-list
            = link_to "勉強会作成", new_event_path
          .nav-list
            = link_to "参加一覧", user_path(current_user)
          .nav-list
            = link_to current_user.name, edit_user_registration_path(current_user)
      - elsif user_signed_in?
        .Header__nav
          .nav-list
            = link_to current_user.name, edit_user_registration_path(current_user)
    = render 'layouts/notifications'
    = yield
