!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Terakoya
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .Header
      .Header__title
        = link_to root_path do
          Terakoya
      .Header__nav
        .Header__nav-list
          = link_to new_event_path do
            勉強会作成
        .Header__nav-list
          %a{ href: '#' }
            参加一覧
        .Header__nav-list
          %a{ href: '#' }
            ログアウト
    %p.notice
      = notice
    %p.alert
      = alert
    = yield
